@import "./variables";

.grafa_border {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
}

.grafa_title {
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 23fr;

    .grafa_description {
        font-size: $description-font-size;
    }
}

.grafa_input {
    height: 100%;
}

.grafa_textarea {
    width: calc(100% - 20px);
    height: calc(100% - 25px);
    border: none;
    resize: none;
    font-size: 11px;
    overflow: hidden;
}

.grafa_input {
    margin-left: 10px;
}

.label {
    font-size: $description-font-size;
}

.input {
    border: none;
}

.input:hover {
    background-color: lightgray;
}

.mainCmrBlank {
    margin: auto;
    width: 672px;
    height: 1060px;
    // background-color: lightgray;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    display: grid;
    grid-template-rows: 96fr 96fr 192fr 212fr 128fr 16fr 48fr 112fr 80fr 48fr 32fr;

    .l01_logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l02_16 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l03_18 {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .b03_05 {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;

            .grafa4_form {
                display: grid;
                grid-template-columns: 3fr 21fr;

            }
        }

        .b17_18 {
            display: grid;
            grid-template-rows: 1fr 1fr;
        }
    }

    .l06_12 {
        display: grid;
        grid-template-columns: 30fr 6fr 6fr 6fr;
    }

    .l13_19 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l14 {}

    .l15_20 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .l21_24 {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .b21_23 {
            display: grid;
            grid-template-rows: 1fr 6fr;

            .b22_23 {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .l25_27 {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    .l28 {
        border-bottom: solid black 1px;
        border-right: solid black 1px;
    }

    .l29 {
        border-bottom: solid black 1px;
        border-right: solid black 1px;
    }

}